/.vscode
degrees/degrees
tictactoe/tictactoe
*__pycache__
degrees/__pycache__
/01 - minesweeper/minesweeper
/02 - bayesnet/bayesnet
/02 - pagerank/pagerank
/03 - hospitals/hospitals
/03 - production/production
/03 - scheduling/scheduling
/03 - crossword/crossword
/04 - banknotes/banknotes
/04 - shopping/shopping
/05/05
/05/traffic/gtsrb
.venv